[Unit]
Description=Docker Compose Privacy Service
Requires=docker.service
After=docker.service

[Service]
Environment="ENV=prd"
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/opt/docker/infrastructure
ExecStart=/usr/bin/docker compose pull ; docker compose up --build -d
ExecStop=docker compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target